div img {
  max-width: 30vw;
  max-height: auto;
  min-width: auto;
  max-height: 30vw;
  padding: 2vw;
}

body {
  background-image: url(./foggy-background.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parkCard {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 5%;
}

aside div button {
  background-color: dra;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.65);
}

.dropdown-menu {
  overflow-y: scroll;
  max-height: 10vw;
}

#card-title-id {
  font-size: 2em;
}

p {
  font-size: 1.25em;
  color: black;
  font-weight: 500;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.65);
  height: fit-content;
}

#button-color,
#letsGoBtn,
#pastSearchButton {
  background-color: rgba(119, 54, 24, 0.644);
  border-color: rgba(255, 255, 255, 0.65);
}

#pastSearches {
  color: black;
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  ...;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  ...;
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ...;
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...;
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  ...;
}
